################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shovelyfy.API/Properties/PublishProfiles/swapswip.pubxml.user
